{% extends "app/layout.html" %}

{% block content %}

<h3 align=center style="color:#FFF8DC">{{ title }}</h3>

<p align=center style="color:#FFF8DC">Bark In is a project for CS1530 at the Univeristy of Pittsburgh.</p>

{% load static %}
<div class="container">
	<div class="row">
        <div class="col-sm team_pic_col">
            <h4 style="text-align:center">Ian Lunberg</h4>
            <img src="{% static 'app/imgs/Default-user-picture.jpg' %}"" class="rounded-circle center" style="width:150px;height:150px;">
			<br>
        </div>
		<div class="col col-9 team_info_col">
            <p>Ian Lunberg<p>
        </div>
	</div>
	
	<br>
	
	<div class="row">
        <div class="col-sm team_pic_col">
            <h4 style="text-align:center">Connor Kalina</h4>
            <img src="{% static 'app/imgs/Default-user-picture.jpg' %}"" class="rounded-circle center" style="width:150px;height:150px;">
			<br>
        </div>
		<div class="col col-9 team_info_col">
            <p>Connor Kalina<p>
        </div>
	</div>
	
	<br>
	
	<div class="row">
        <div class="col-sm team_pic_col">
            <h4 style="text-align:center">Jacob Haldeman</h4>
            <img src="{% static 'app/imgs/Default-user-picture.jpg' %}"" class="rounded-circle center" style="width:150px;height:150px;">
			<br>
        </div>
		<div class="col col-9 team_info_col">
            <p>Jacob Haldeman<p>
        </div>
	</div>
	
	<br>
	
	<div class="row">
        <div class="col-sm team_pic_col">
            <h4 style="text-align:center">Robert Corbett</h4>
            <img src="{% static 'app/imgs/Default-user-picture.jpg' %}"" class="rounded-circle center" style="width:150px;height:150px;">
			<br>
        </div>
		<div class="col col-9 team_info_col">
            <p>Robert Corbett<p>
        </div>
	</div>
	
	<br>
	
	<div class="row">
        <div class="col-sm team_pic_col">
            <h4 style="text-align:center">Turner Halligan</h4>
            <img src="{% static 'app/imgs/Default-user-picture.jpg' %}"" class="rounded-circle center" style="width:150px;height:150px;">
			<br>
        </div>
		<div class="col col-9 team_info_col">
            <p>Turner Halligan<p>
        </div>
	</div>
	
	<br>
	
</div>

{% endblock %}
