{% extends "app/layout.html" %}

{% block content %}

<br>

<div class="container-fluid signup-background">

<div class="container ">
    <div class="row">
        <div class="col-md-6 offset-3 jumbotron signup-content">
<h2>Add Dog</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Save Dog Profile</button>
</form>

			</div>
		</div>
	</div>
</div>

{% endblock %}