{% extends "app/layout.html" %}

{% block content %}

<<h3 align=center style="color:#FFF8DC">{{ title }}</h3>

<address align=center style="color:#FFF8DC">
    
    University of Pittsburgh<br />

</address>

<address align=center style="color:#FFF8DC">
    <strong>Support: </strong><br/>
    <strong>Connor Kalina- Application Programmer" </strong><br/>
    <strong>Turner Halligan- Database Programmer" </strong><br/>
    <strong>Connor Kalina- Frontend Programmer" </strong><br/>
 
</address>

{% endblock %}
