{% extends "app/layout.html" %}

{% block content %}
<br>

<div class="container">
    <div class="row">
            <div id='map' style='width: 100%; height: 400px;'></div>
    </div>
</div>

<br>
<script>

	mapboxgl.accessToken = 'pk.eyJ1IjoidHVybmVyaHVzYSIsImEiOiJjazJrd282bGwwMHh3M2NxbHpmZ2xyZGFhIn0.Xvb29vp2_cWKb7biomNDaQ';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/turnerhusa/ck327gi822l4e1cme2py77v3m',
		center: [-79.96341, 40.43872],
		zoom: 12.26
	});
	// Add zoom and rotation controls to the map.
	map.addControl(new mapboxgl.NavigationControl());


	/*map.on('load', function () {
		map.addLayer({
			"id": "places",
			"type": "symbol",
			"source": {
				"type": "geojson",
				"data": {
					"type": "FeatureCollection",
					"features": [

			{% for park in parks %}
					{
					"type": "Feature",
					"properties": {
						"description": "{{ park.name|safe }}",
						"icon": "music"
					},
					"geometry": {
						"type": "Point",
						"coordinates": [40.43872, -79.96341]
					}
			{% endfor %}
					}]
				}
			},
			"layout": {
				"icon-image": "{icon}-15",
				"icon-allow-overlap": true
			}
		});
	

		map.on('click', 'places', function (e) {
			var coordinates = e.features[0].geometry.coordinates.slice();
			var description = e.features[0].properties.description;
			 
			// Ensure that if the map is zoomed out such that multiple
			// copies of the feature are visible, the popup appears
			// over the copy being pointed to.
			while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
				coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
			}
			 
			new mapboxgl.Popup()
			.setLngLat(coordinates)
			.setHTML(description)
			.addTo(map);
		});

		map.on('mouseenter', 'places', function () {
			map.getCanvas().style.cursor = 'pointer';
		});

		map.on('mouseleave', 'places', function () {
			map.getCanvas().style.cursor = '';
		});
	});*/

	map.on('load', function() {
		map.loadImage('https://www.shareicon.net/data/2015/09/21/644234_pin_512x512.png', function(error, image) {
				if (error) throw error;
				map.addImage('dogIcon', image);
				map.addLayer({
					"id": "parks",
					"type": "symbol",
					"source": {
						"type": "geojson",
						"data": {
							"type": "FeatureCollection",
							"features": [
							{{ park_string_array|safe }}
							]
						}
					},
				"layout": {
					"icon-image": "dogIcon",
					"icon-size": 0.1
				}
			});
		});

		map.on('click', 'parks', function (e) {
			var coordinates = e.features[0].geometry.coordinates.slice();
			var description = e.features[0].properties.description;
			 
			// Ensure that if the map is zoomed out such that multiple
			// copies of the feature are visible, the popup appears
			// over the copy being pointed to.
			while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
				coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
			}
			 
			new mapboxgl.Popup()
			.setLngLat(coordinates)
			.setHTML(description)
			.addTo(map);
		});

		map.on('mouseenter', 'parks', function () {
			map.getCanvas().style.cursor = 'pointer';
		});

		map.on('mouseleave', 'parks', function () {
			map.getCanvas().style.cursor = '';
		});
	});
</script>
{% endblock %}
