{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<title>Bark-In</title>
	</head>
	
	<body>
	
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<header>
			<div class="hero">
				<div class="hero-image">
					<div class="hero-text">
						<h1>Bark-In</h1>
						<p>Connecting Your Best Friend to Their Best Friends</p>
					</div>
				</div>
			</div>
			
		{% if user.is_authenticated %}
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto navbar-center" >
						<li class="nav-item active" >
							<a class="nav-link" href="{%url 'index'%}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{%url 'edit_profile'%}">Edit Profile</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Your Dogs
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% if user.dogs is not None %}
									{% for dogs in user.dogs %}
									<p>{{ dog }}</p>
									{% endfor %}
								{% else %}
									<p>No Dogs Added</p>
								{% endif %}
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Add a Dog</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'parks'%}">Parks</a>
						</li>
						<li class="nav-item logout-button">
							<a class="nav-link" href="/logout_view">Logout</a>
						</li>
					</ul>
				</div>
			</nav>
			
		{% else %}
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto navbar-center" >
						<li class="nav-item" >
							<a class="nav-link" href="/login/">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signup">Sign Up</a>
						</li>
					</ul>
				</div>
			</nav>
		
		{% endif %}
			
		</header>
		
		<div class="main-body">
			{% block content%}
			{% if user.is_authenticated %}
			<br>
			{% else %}
				<br>
				<h3 align=center style="color:#FFF8DC">About Us</h3>
				<br>
				<p align=center style="color:#FFF8DC">Bark-In description here</p>
			{% endif %}
			<br>
			{% endblock %}
		</div>
		
		<footer class="page-footer font-small blue pt-4">

			<div class="container-fluid text-center text-md-left">
				<div style="text-align:center">
					<a href="{% url 'about'%}">About the Team</a>
				</div>

				<div style="text-align:center">
					<a href="{% url 'contact'%}">Contact Us</a>
				</div>

			</div>

			<div class="footer-copyright text-center py-3">©2019 Copyright: Group-19  </div>

		</footer>

	</body>
</html>