{% extends 'app/layout.html' %}

{% block head %}
<title>{{ userProfile }}</title>
{% endblock %}

{% block content %}

<br>

<div class="container">
    <div class="row">
        <div class="col profile_col">
            <h1>{{ userProfile }}'s profile</h1> <!-- no need to restate the user's username !-->
            <p>Bio: {{ userBio }}</p>
            {% if editAllowed %}
		        <a href="{% url 'edit_profile'%}">Edit your profile</a>
	        {% endif %}
        </div>
		<div class="col profile_col">
			<h1>Dogs</h1>
			{% for dogs in userDogs %}
				<p><a href="{%url 'view_dog' uid dogs.pk %}" >{{ dogs }}</a> : {{dogs.breed}}</p> 
                {% if editAllowed %}
                <a href="{%url 'edit_dog_profile' uid dogs.pk%}">Edit Dog</a>
                {% endif %}
			{% endfor %}
             {% if editAllowed %}
           <p><a href="{%url 'add_dog' user.id%}">Add a dog to your profile</a></p>
            {% endif %}
		</div>
    </div>
</div>

{% endblock %}