{% extends 'app/layout.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}

<br>

<div class="container">
    <div class="row">
        <div class="col profile_col">
            <h1>{{ user }}'s profile</h1>
            <p>Username: {{ user }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Bio: {{ user.userprofile.bio }}</p>
        </div>
		<div class="col profile_col">
			<h1>Dogs</h1>
			{% for dogs in user.dogs %}
			<p>{{ dog }}</p>
			{% endfor %}
			<a href="#">Add a new dog</a>
		</div>
		<div class="col profile_col">
			<h1>schedule</h1>
		</div>
    </div>
</div>

{% endblock %}