{% extends 'app/layout.html' %}

{% block head %}
<title>{{ userProfile }}</title>
{% endblock %}

{% block content %}

<br>

<div class="container">
    <div class="row">
        <div class="col profile_col">
            <h1>{{ userProfile }}'s profile</h1> <!-- no need to restate the user's username !-->
            <p>Bio: {{ userBio }}</p>
        </div>
		<div class="col profile_col">
			<h1>Dogs</h1>
			{% for dogs in userDogs %}
				<p><a href="#">{{ dogs }}</a></p> <!-- TODO: Link to the dog profile page -->
			{% endfor %}
		</div>
		<div class="col profile_col">
			<h1>Schedule</h1>
		</div>
    </div>
    {% if editAllowed %}
		<a href="#">Edit Profile</a> <!-- TODO: Link to the edit profile page -->
	{% endif %}
</div>

{% endblock %}