{% extends 'app/layout.html' %}

{% block head %}
<title>{{ name }}</title>
{% endblock %}

{% block content %}


<div class="container-fluid signup-background" style="overflow: auto">
<br>
<div class="container ">
    <div class="row">
        <div class="col-md-6 offset-3 jumbotron signup-content" style="background-color: rgba(0,0,0,0);">
<div class="container">
    <div class="row">
        <div class="col profile_col" style="box-shadow: 3px 5px 9px black;border-radius: 5px;outline:none;">
            <h1>{{ name }}'s profile</h1> 
            <img src= "{{dog_pfp.url}}" class="rounded-circle center" style="width:150px;height:150px;">
            <p class="long_text">Breed: {{ breed }}</p>
            <p class="long_text"> Size: {{ dog_size }}</p>
            <p class="long_text">Temperament: {{ temperament }}</p>
            <p class="long_text">Activity Level: {{ activity_level }}</p>
            <p class="long_text">  Volume: {{ volume }}</p>
            <p class="long_text">Notes: {{ notes }}</p>
        </div>
</div>

			</div>
		</div>
		</div>
	</div>
</div>

{% endblock %}