{% extends 'app/layout.html' %}

{% block head %}
<title>{{ name }}</title>
{% endblock %}

{% block content %}

<br>
<div class="container-fluid signup-background">

<div class="container ">
    <div class="row">
        <div class="col-md-6 offset-3 jumbotron signup-content">
<div class="container">
    <div class="row">
        <div class="col profile_col">
            <h1>{{ name }}'s profile</h1> <!-- no need to restate the user's username !-->
            <p>Breed: {{ breed }}</p>
            <p> Size: {{ dog_size }}</p>
            <p>Temperament: {{ temperament }}</p>
            <p>Activity Level: {{ activity_level }}</p>
            <p>  Volume: {{ volume }}</p>
            <p>Notes: {{ notes }}</p>
        </div>
</div>

			</div>
		</div>
		</div>
	</div>
</div>

{% endblock %}